.books {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: 5vh auto;
}

.books div {
  margin: 1%;
}

.books div img {
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.title {
  font-size: 18px;
}

.btnDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.addToCartBtn {
  width: 100%;
}
