.carouselMainDiv {
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 4vh 3vw 6vh 3vw;
}

h6 {
  color: #780000;
}

.slideImagediv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
}

.slideImagediv img {
  width: auto;
  height: 100%;
}
