.logo {
  width: 100px;
  height: auto;
  margin: 0 20px;
}

.inputSearch {
  width: 30vw;
}

.userLoggedDiv,
.noUserLoggedDiv {
  display: flex;
  align-items: center;
}

.usernameLabel {
  margin-right: 20px;
}
