.singlebook {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 50%;
  margin: 5vh auto;
}

h3 {
  width: 100%;
  text-align: center;
}

.dataimg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  height: 60vh;
}

p {
  text-align: justify;
}

.description {
  margin-top: 15px;
}

.addToCartEditButtons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
