.singleuser {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: auto;
  margin: 10vh auto 15vh auto;
  justify-content: center;
}

h2 {
  width: 100%;
  text-align: center;
  color: #780000;
}

.editBtnDiv {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.editBtn, .allHistoryBtn {
  margin: 0 20px;
}

.adminButtonsDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button {
  width: auto;
  padding: 0 20px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 0.4em;
  transition: color 0.4s, background 0.4s;
}

.button:hover {
  color: white;
  background: #780000;
}
