.singleuser {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: auto;
  margin: 10vh auto 15vh auto;
  justify-content: center;
}

h2 {
  width: 100%;
  text-align: center;
  color: #780000;
}

.editBtnDiv {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.editBtn,
.allHistoryBtn {
  margin: 0 20px;
}

.adminButtonsDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
